.top-text {
    margin: auto;
    background: var(--Orange-50, #FF9500);
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 23px;
    align-self: stretch;
}

.navbar-text a {
    text-decoration: none;

}

.sinup {
    display: none;
}

.nav-logo {
    background: var(--Orange-50, #FF9500);

}

.login {
    border-radius: 8px;
    background: var(--Orange-50, #FF9500);
    padding: 10px 20px;
}

.display {
    margin-right: 20px;
}

.collapse {
    padding-left: 20px;
}
/* media screen  stard*/
@media (max-width:992px) {
    .sinup {
        display: inline-block;
        margin-right: 10px;
    }
}

@media (max-width:990px) {
    .display {
        display: none;
    }
}
/* media screen  end*/
@media (max-width:730px){
    .logo-png {
        margin-left: 5px !important;
    }
    .text-ariya h1{
        margin-left: 25px !important;
    }
}
.logo-png {
    margin-left: 342px;
   
}
.text-ariya h1{
   text-align: center;
    font-weight: 500;
}
.Unlock {
    color: #FF9500;
}
#fa-bolt2{
    font-size: 25px;
}
.text-ariya2 {
   text-align: center;
   margin-top: 15px;
}
.text-ariya3{
    text-align: center;
}
